<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <style>
.content {
  line-height: 1.6;
  margin: 0 auto;
  max-width: 1100px;
}

article {
  display: grid;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-template-rows: min-content;
  grid-gap: 20px;
  position: relative;
}

article .images {
  display: grid;
  grid-gap: 10px;
  justify-items: start;
}

article .images.two {
  grid-template-columns: repeat(2, auto);
}

article .images.three {
  grid-template-columns: repeat(3, auto);
}

article .images.left {
  grid-column: 1 / 3;
}

article .images.center {
  grid-column: 2 / 3;
}

article .images img {
  min-width: 240px;
  max-width: 100%;
  height: 100%;
  min-height: 180px;
  max-height: 360px;
  object-fit: cover;
}

article .images img:first-child {
  justify-self: end;
}

article .imagenote {
  grid-column: 1 / 2;
  color: #999;
}

article h1 {
  grid-column: 1 / -1;
  border-bottom: 2px solid;
}

article p,
article ol, article ul {
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 2 / 3;
}

article .gutternote {
  grid-column: 3 / 4;
  color: #999;
}
    </style>
  </head>
  <body>
    <div class='content'>
      <a href='/'>← home</a>
      <h1>{{ title }}</h1>

      <article>
        {{ content }}
      </article>
    </div>
  </body>
</html>